
.pgTitle {
    padding-top: 25px; 
    font-size:  3em;
    font-weight: bold;
}

#mainTitle {

    font-size: 4em;
    font-weight: bold;
    text-align: center;

}

.surveybtn {

    font-size:25px;
    margin-left: 40%;

}

.mainHeadings {

    font-size: 2em;
    text-align: center;
    font-weight: 600;

}

.mainSubheadings {

    font-size: 25px;
    text-align: center;
    font-weight: 400;

}
.headings {

    font-size: 20px;
    font-weight: bold;
}
.subHeadings {

    font-size: 15px;

}

.surveyQs {

    padding-bottom: 12px;

}

.form-control {

    font-size: 15px;
    
}